
body {
  display: flex;
}
.sidebar {
  flex: none;
}
.viewport {
  flex: 1 1;
}

.container {
  padding-left: $gutter-size * 0.5;
  padding-right: $gutter-size * 0.5;
  margin-left: auto;
  margin-right: auto;


  &-fixed {
    @include responsive-classes() {
      position: sticky;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      pointer-events: none;
    }
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$gutter-size * 0.5;
  margin-right: -$gutter-size * 0.5;
}

.col {
  @include responsive-classes() {
    @include col();

    @for $n from 1 through $columns {
      &-#{$n} {
        @include col($n);
      }
    }
  }
}

.offset {
  @include responsive-classes() {
    @for $n from 1 through $columns {
      &-#{$n} {
        @include offset($n);
      }
    }
  }
}
