// Colors
// -----------------------------------
$color--light: rgba(#fff, 0.8);
$color--dark: rgba(#000, 0.8);

$color__background: var(--background);
$color__foreground: var(--foreground);

// Border Radii
// -----------------------------------
$transition--long: 0.5s ease-in-out;
$transition--regular: 0.25s ease-in-out;
$transition--short: 0.15s ease-in-out;

// Border Radii
// -----------------------------------
$border-radius--large: 10px;
$border-radius--regular: 5px;
$border-radius--small: 3px;
$border-radius__face: 3%;
$border-radius__face--small: 5%;

// Box Shadow
// -----------------------------------
$box-shadow__face: 0px 2.2px 3.4px rgba(0, 0, 0, 0.031), 0px 5.6px 8.7px rgba(0, 0, 0, 0.044),
  0px 11.5px 17.7px rgba(0, 0, 0, 0.056), 0px 23.7px 36.5px rgba(0, 0, 0, 0.069), 0px 65px 100px rgba(0, 0, 0, 0.1);
$box-shadow__face--close: 0px 0.4px 0.6px rgba(0, 0, 0, 0.014), 0px 0.9px 1.3px rgba(0, 0, 0, 0.02),
  0px 1.6px 2.5px rgba(0, 0, 0, 0.025), 0px 2.9px 4.5px rgba(0, 0, 0, 0.03), 0px 5.4px 8.4px rgba(0, 0, 0, 0.036),
  0px 13px 20px rgba(0, 0, 0, 0.05);

// Layout
// -----------------------------------
$columns: 12;
$gutter-size: 2rem;
$grid-breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  // xxl: 1366px,
);
$container-max-widths: (
  md: 400px,
  lg: 600px,
  xl: 660px,
);

// Layout
// -----------------------------------
$scale__part-button: 0.2;
