.container {
  padding-left: $gutter-size/2;
  padding-right: $gutter-size/2;
  margin-left: auto;
  margin-right: auto;

  @each $bp, $width in $container-max-widths {
    @include breakpoint($bp) {
      max-width: $width;
    }
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: -$gutter-size/2;
  width: 100%;
}

.col {
  @include col();

  @for $n from 1 through $columns {
    &-#{$n} {
      @include col($n);
    }
  }
  @each $bp, $width in $grid-breakpoints {
    @if ($width != 0) {
      @include breakpoint($bp) {
        &-#{$bp} {
          @include col();

          @for $n from 1 through $columns {
            &-#{$n} {
              @include col($n);
            }
          }
        }
      }
    }
  }
}
