@use "sass:map";
@use "sass:color";

@mixin breakpoint($bp) {
  @media (min-width: map.get($grid-breakpoints, $bp)) {
    @content;
  }
}

@mixin col($n: null) {
  @if ($n == null) {
    padding-left: $gutter-size/2;
    padding-right: $gutter-size/2;
    flex: 0 0 auto;
  } @else {
    $width: (100% * $n/$columns);
    padding-left: $gutter-size/2;
    padding-right: $gutter-size/2;
    flex: 0 0 $width;
    width: $width;
  }
}

@mixin offset($n) {
  margin-left: (100% * $n/$columns);
}

@mixin responsive-classes() {
  @content;
  @each $bp, $width in $grid-breakpoints {
    @if ($width != 0) {
      @include breakpoint($bp) {
        &-#{$bp} {
          @content;
        }
      }
    }
  }
}

@mixin pseudo-border($style, $radius: 0px, $offset: 0px) {
  position: relative;

  &::before {
    content: "";
    pointer-events: none;
    position: absolute;
    top: $offset;
    bottom: $offset;
    left: $offset;
    right: $offset;
    border-radius: $radius;
    border: $style;
  }
}